.bg-ztep-azul { background-color: #202738 !important; }
.bg-ztep-rojo { background-color: #e11d48 !important; }
.text-ztep-rojo { color: #e11d48 !important; }
.letra { font-family: 'Inter', sans-serif; }