.bg-ztep-azul { background-color: #202738 !important; }
.bg-ztep-rojo { background-color: #e11d48 !important; }
.text-ztep-rojo { color: #e11d48 !important; }

/* EFECTO LOGO TRANSPARENTE */
.logo-transparente {
    mix-blend-mode: multiply;
    filter: contrast(115%);
}

.letra {
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Suavizado general */
.transition-all { transition: all 0.3s ease; }